.header {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background: #FFF;
    
}

body {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    justify-content: center;
}

.logo {
    color: #00273E;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    height: auto;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 52px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    padding-top: 64px;
    margin: 0;
}

p {
    display: flex;
    width: 66%;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

button {
    display: flex;
    width: 318px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #EA9B3C;
    justify-content: center;
    margin: 0 auto;
}

.gradient {
    background: linear-gradient(180deg, #00273E 32%, #0069A4 100%);
    height: 100vh;
    justify-content: center;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 16px;
}

