.header {
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    justify-content: center;
    align-items: center;
    gap: 18px;
    background: #FFF;
    
}

body {
    overflow-x: hidden;
    margin: 0;
    height: 100%;
    justify-content: center;
}

.logo {
    color: #00273E;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    height: auto;
}

.title {
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    justify-content: center;
    padding-top: 64px;
    margin: 0;
}

p {
    display: flex;
    /* width: 66%; */
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Helvetica Neue";
    font-size: 32px;
    font-style: normal;
    font-weight: 400px;
    line-height: normal;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 24px;
    padding-bottom: 24px;
}

/* button {
    display: flex;
    width: 318px;
    padding: 16px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background: #EA9B3C;
    justify-content: center;
    margin: 0 auto;
} */

.gradient {
    background: linear-gradient(180deg, #00273E 32%, #0069A4 100%);
    height: 100vh;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 16px;
    padding-top: 100px;
}


 .flex-container {
    position: absolute;
    top: 60px;
    left: 170px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;  
    padding: 16px;
    width: 250px;
}

 .column {
    width: 100%;
    color: white;
    padding: 16px;
    margin-right: 16px;
  } 
.btn-primary-custom {
    display: flex !important;
    width: 318px !important;
    padding: 12px !important;
    justify-content: center !important;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    background-color: #EA9B3C !important;
    justify-content: center;
    margin: 0 auto;
    color: #FFF !important;
    text-align: center !important;
    font-family: "Helvetica Neue" !important;
    font-size: 16px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: normal !important;
}

.btn-primary-custom:hover {
    background-color: #e64a19 !important;
    border-color: #e64a19;
  }

@media (max-width: 768px) {
    .btn-primary-custom {
        width: 200px !important;
        font-size: 14px !important;
    }

    .title {
        font-size: 32px !important;
    }

    p {
        font-size: 24px !important;
    }

    .logo {
        font-size: 26px !important;
    }
}

